* {
  padding: 0;
  margin: 0; }

p {
  margin-bottom: 0; }

ul {
  list-style: none; }

.logo {
  width: 120px;
  height: 60px; }

.navbar {
  min-height: 50px;
  background-color: transparent;
  right: 0;
  top: 0;
  left: 0;
  padding-bottom: 10px; }

.navbar-effect {
  background-color: #6C856C;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.menu-hamburguer {
  padding-left: 10px; }

.banner {
  background-image: url(../img/imgbanner.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-color: #9EA088; }

.banner__background {
  position: relative;
  top: 0px;
  left: 0px; }

.banner__background img {
  width: 100%;
  opacity: 0; }

.banner__play {
  position: absolute;
  top: 45%;
  left: 40%; }

.banner__play img {
  width: 200px;
  max-width: 100%;
  height: auto;
  display: block; }

.banner__circle {
  position: absolute;
  top: 82%;
  left: 5%; }
  .banner__circle p {
    color: #fff; }
  .banner__circle span {
    font-weight: bolder;
    font-size: 20px;
    color: #fff;
    text-align: center; }

.banner__circle img {
  display: flex;
  margin: 0 auto;
  width: 150px; }

.banner__description-circle {
  width: 114px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  color: #fff; }

.receitas {
  padding: 20px;
  color: #fff;
  overflow-x: hidden; }
  .receitas h3 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #6cb859;
    padding-bottom: 20px; }

.receitas__cards {
  display: flex;
  overflow-x: scroll;
  width: 100%; }

.card-custom {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  box-shadow: 0 2px 2px #CCC, 2px 2px 5px #CCC, -2px 2px 5px #CCC;
  border-radius: 5px; }

.card-body-custom {
  position: relative;
  background-color: rgba(75, 87, 21, 0.5);
  width: 100%;
  height: 102px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .card-body-custom a {
    text-decoration: none;
    color: #fff; }

.card-text {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 0; }

.information-desincha {
  background-image: linear-gradient(#B6CD51, #509A4A); }
  .information-desincha h2 {
    font-weight: bolder; }

.linha-vertical {
  height: 80px;
  border-left: 2px solid #fff;
  margin-left: 50%; }

.information-desincha__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px; }

.information-desincha img {
  display: flex;
  margin: 0 auto;
  width: 100%; }

.information-desincha__description {
  color: #fff;
  text-align: center; }
  .information-desincha__description h3 {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: bolder; }
  .information-desincha__description p {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 90%;
    font-weight: bolder; }

.information-desincha__links {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 30px; }
  .information-desincha__links a {
    color: #C3D802;
    font-weight: 600; }
  .information-desincha__links a:last-child {
    color: #FFBD29; }
  .information-desincha__links a:after {
    display: inline-block;
    content: '>';
    color: inherit;
    font-size: 22px;
    padding-left: 3px; }

.today-desincha {
  padding-bottom: 168px;
  margin-top: 20px;
  overflow-x: hidden; }
  .today-desincha h3 {
    color: #6cb859;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 20px; }
  .today-desincha p {
    padding: 15px;
    font-size: 13px; }

.today-desincha__cards {
  display: flex;
  overflow-x: scroll;
  width: 100%; }

.btn-custom {
  background-color: #6cb859;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder; }

.footer {
  background-image: linear-gradient(#B6CD51, #509A4A); }

.footer__curve {
  background-image: linear-gradient(#B6CD51, #B6CD51);
  height: 150px;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
  position: relative;
  bottom: 148px;
  z-index: -1; }

.footer__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%; }
  .footer__content ul li {
    cursor: pointer;
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 15px;
    font-weight: bolder; }

.logo-footer {
  width: 170px;
  height: 85px; }

.footer__links {
  display: flex;
  align-items: flex-end;
  justify-content: space-around; }

.footer__social {
  display: flex; }

.footer__info {
  font-size: 10px;
  color: #FFF;
  padding-top: 25px;
  padding-left: 30px; }

.footer__ebit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  padding-left: 45px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
