.logo {
    width: 120px;
    height: 60px;
}

.navbar{
    min-height: 50px;
    background-color: transparent;
    right: 0;
    top: 0;
    left: 0;
    padding-bottom: 10px;
}

.navbar-effect{
    background-color: #6C856C;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
 }

.menu-hamburguer {
    padding-left: 10px;
}